doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.about
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo
                                a(href="/")
                                    img(src="/img/content/logo.png")
                            .menu
                                ul
                                    li
                                        a(href="/") Главная
                                    li.active
                                        a(href="/about.html") О компании
                                    li
                                        a(href="/services.html") Услуги
                                    li
                                        a(href="/blog.html") Блог
                                    li
                                        a(href="/contacts.html") Контакты

                    .image-about
                        .content-image
                            p Содействие экономическому развитию через успешные международные бизнес-отношения
                            span Market Discovery




            div.container
                    .wrap
                        .mod_about.cf
                            h3 О нас
                            .img-holder
                                img(src="/img/content/about.jpg")
                            .text.
                                Мы - команда специалистов, которая проживает в Германии и готова способствовать продвижению иностранных компаний на немецком рынке.
                                Основываясь на тщательном маркетинговом анализе, мы разработаем эффективную стратегию входа на рынок и поможем успешно ее осуществить.





                        .mod_advantage2
                                h3 Наши преимущества
                                .advantages
                                    ul.cf
                                        li
                                            .img-holder
                                                img(src="/img/content/advantage1.png")
                                            h4 Цены
                                            p Экономьте от 10% стоимости каждой услуги.

                                        li
                                            .img-holder
                                                img(src="/img/content/advantage2.png")
                                            h4 Персональный подход
                                            p Мы работаем 24/7 ради наших клиентов. Все наши услуги подстраиваются под каждого клиента персонально.

                                        li
                                            .img-holder
                                                img(src="/img/content/advantage3.png")
                                            h4 Понимание культурных особенностей
                                            p Мы живем в Германии долгое время, поэтому понимаем о ней намного больше, чем просто цифры.
                                        li
                                            .img-holder
                                                img(src="/img/content/advantage4.png")
                                            h4 Поддержка от начала до конца
                                            p Заручитесь поддержкой от начала планирования до первого клиента

                                        li
                                                .img-holder
                                                    img(src="/img/content/advantage5.png")
                                                h4 Долгосрочные отношения
                                                p Рассчитывайте на долгосрочное сотрудничество, так как наша цель - это ваше чувство уверенности и рост на немецком рынке.
                                        li
                                                .img-holder
                                                    img(src="/img/content/advantage6.png")
                                                h4 Самая актуальная информация
                                                p Получите самую актуальную информацию о рынке, технологиях, конкурентах или продуктах. Мы идём в ногу со временем.




                        .mod_our_plus
                            h3 Наши ценности

                            .items
                                .item-plus
                                        .img-holder
                                            img(src="/img/content/about1.jpg")
                                        h4 Самосовершенствование

                                        .text.
                                            Наша команда никогда не останавливаемся на достигнутом и каждый день занимаемся самообразованием.
                                            Market Discovery всегда знает о последних тенденциях на рынке и идет в ногу со временем.


                                .item-plus
                                        .img-holder
                                            img(src="/img/content/about2.jpg")
                                        h4 Честность

                                        .text.
                                            Наша команда никогда не останавливаемся на достигнутом и каждый день занимаемся самообразованием.
                                            Market Discovery всегда знает о последних тенденциях на рынке и идет в ногу со временем.



                                .item-plus
                                        .img-holder
                                            img(src="/img/content/about3.jpg")
                                        h4 Доверие

                                        .text.
                                            Наша команда никогда не останавливаемся на достигнутом и каждый день занимаемся самообразованием.
                                            Market Discovery всегда знает о последних тенденциях на рынке и идет в ногу со временем.

                                .item-plus
                                        .img-holder
                                            img(src="/img/content/about1.jpg")
                                        h4 Целеустремленность

                                        .text.
                                            Наша команда никогда не останавливаемся на достигнутом и каждый день занимаемся самообразованием.
                                            Market Discovery всегда знает о последних тенденциях на рынке и идет в ногу со временем.







            include ./footer.jade