doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo
                                a(href="/")
                                    img(src="/img/content/logo.png")
                            .menu
                                ul
                                    li
                                        a(href="/") Главная
                                    li
                                        a(href="/about.html") О компании
                                    li
                                        a(href="/services.html") Услуги
                                    li
                                        a(href="/blog.html") Блог
                                    li.active
                                        a(href="/contacts.html") Контакты






            div.container
                    .wrap
                        .article.contacts
                            h1 Контакты
                            h3 Адрес:
                            p Украина, г. Киев ул. Ильина 200, оф. 40
                            h3 Телефон:
                            p
                                a(href="tel:++3800935768981") +380 (093) 57 68 981
                                br
                                a(href="tel:++3800935768981") +380 (093) 57 68 981
                            h3 E-mail:
                            p
                                a(href="mailto:marketdiscovery@gmail.com") marketdiscovery@gmail.com





            include ./footer.jade