doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo.img-holder
                                a(href="index.html")
                                    img(src="img/content/logo.png")
                            .menu
                                ul
                                    li
                                        a(href="index.html") Главная
                                    li
                                        a(href="about.html") О компании
                                    li
                                        a(href="services.html") Услуги
                                    li
                                        a(href="blog.html") Блог
                                    li.active
                                        a(href="#footer") Контакты






            div.container
                    .wrap
                        .article
                            h1 Название статьи
                            .img-holder.img-left
                                img(src="img/content/article1.jpg", title="Название статьи")
                            h3 Адрес:
                            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.






            include ./footer.jade