footer#footer
    .wrap.cf




        form.contact_footer
            .row-form.cf
                div
                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                    span.error Поле обязательное для заполнения
                div
                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                    span.error Поле обязательное для заполнения
            .row-form.cf
                div
                    input(type="text", placeholder="Skype:", name="skype")

                div
                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                    span.error Поле обязательное для заполнения
            .row-form.url.cf
                div
                    input(type="text", placeholder="Название сайта: marketdiscovery.com", name="url", id="url")


            .row-form.cf
                div
                    textarea( placeholder="Сообщение:", name="message", data-validate="name")
                    span.error Поле обязательное для заполнения

            button(type="submit")  Отправить

        .mod_info_footer
            .adress
                h4 Адрес:
                p
                    | Украина, г. Киев
                    br
                    | ул. Ильина 200, оф. 40
            .phone
                h4 Телефон:
                p
                    a(href="tel:++3800935768981") +380 (093) 57 68 981
                    a(href="tel:++3800935768981") +380 (093) 57 68 981
            .phone
                h4 E-mail:
                p
                    a(href="mailto:marketdiscovery@gmail.com") marketdiscovery@gmail.com
            .social
                h4 Социальные сети:
                ul
                    li.twitter
                        a(href="#")
                            i(class="fa fa-tumblr")
                    li.facebook
                        a(href="#")
                            i(class="fa fa-facebook")
                    li.linkedin
                        a(href="#")
                            i(class="fa fa-linkedin")
            .copyright Copyright 2016 Market Discovery
#cache