
header
    .top
            .wrap

                    .phone
                        a(href="tel:+48791145132") +48 791 145 132
                        a(href="tel:+48791145132") +48 791 145 132

                    .email
                        a(href="mailto:Marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                    .skype
                        a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                    .lang
                        .ru.active
                            a(href="#") Русский
                        .en
                            a(href="#") English




