doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo.img-holder
                                a(href="index.html")
                                    img(src="img/content/logo.png")
                            .menu
                                ul
                                    li.active
                                        a(href="index.html") Главная
                                    li
                                        a(href="about.html") О компании
                                    li
                                        a(href="services.html") Услуги
                                    li
                                        a(href="blog.html") Блог
                                    li
                                        a(href="#footer") Контакты

                    .slider
                        .item(style="background: url('img/content/slider.jpg') no-repeat center; background-size: cover;")
                            .content-slider

                                p Get the clear insight about your new markets
                                a(href="#") Узнать больше
                        .item(style="background: url('img/content/slider.jpg') no-repeat center; background-size: cover;")
                            .content-slider

                                p lorem ipsum
                                a(href="#") Узнать больше
                        .item(style="background: url('img/content/slider.jpg') no-repeat center; background-size: cover;")
                            .content-slider

                                p lorem ipsum
                                a(href="#") Узнать больше


            div.container
                    .wrap
                        .services
                            h3 Наши услуги
                            ul
                                li
                                    .img-holder
                                        img(src="img/content/service1.png")
                                    h4 Business Research
                                    p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что новая модель организационной

                                    a(href="services.html#business", class="readmore") Читать больше


                                li
                                    .img-holder
                                        img(src="img/content/service3.png")
                                    h4 Design & Web-Development
                                    p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что новая модель организационной
                                    a(href="services.html#design", class="readmore") Читать больше

                                li
                                    .img-holder
                                        img(src="img/content/service4.png")
                                    h4 Digital Marketing
                                    p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что новая модель организационной
                                    a(href="services.html#marketing", class="readmore") Читать больше


                    .mod_advantage
                            h3 Наши преимущества
                            .advantages
                                ul.cf
                                    li
                                        .img-holder
                                            img(src="img/content/advantage9.png")
                                        h4 Защита персональных данных
                                        p Экономьте от 10% стоимости каждой услуги.

                                    li
                                        .img-holder
                                            img(src="img/content/advantage7.png")
                                        h4 Персональный подход
                                        p Мы работаем 24/7 ради наших клиентов. Все наши услуги подстраиваются под каждого клиента персонально.

                                    li
                                        .img-holder
                                            img(src="img/content/advantage3.png")
                                        h4 Понимание культурных особенностей
                                        p Мы живем в Германии долгое время, поэтому понимаем о ней намного больше, чем просто цифры.
                                    li
                                        .img-holder
                                            img(src="img/content/advantage8.png")
                                        h4 Short terms-big value
                                        p Заручитесь поддержкой от начала планирования до первого клиента

                                    li
                                            .img-holder
                                                img(src="img/content/advantage5.png")
                                            h4 Долгосрочные отношения
                                            p Рассчитывайте на долгосрочное сотрудничество, так как наша цель - это ваше чувство уверенности и рост на немецком рынке.
                                    li
                                            .img-holder
                                                img(src="img/content/advantage6.png")
                                            h4 Самая актуальная информация
                                            p Получите самую актуальную информацию о рынке, технологиях, конкурентах или продуктах. Мы идём в ногу со временем.

                    .mod_advantage.mobile
                        h3 Наши преимущества
                        .advantages
                            ul.cf
                                li
                                    .img-holder
                                        img(src="img/content/advantage1.png")
                                    h4 Защита персональных данных
                                    p Экономьте от 10% стоимости каждой услуги.
                                li
                                    .img-holder
                                        img(src="img/content/advantage2.png")
                                    h4 Персональный подход
                                    p Мы работаем 24/7 ради наших клиентов. Все наши услуги подстраиваются под каждого клиента персонально.
                                li
                                    .img-holder
                                        img(src="img/content/advantage3.png")
                                    h4 Понимание культурных особенностей
                                    p Мы живем в Германии долгое время, поэтому понимаем о ней намного больше, чем просто цифры.
                                li
                                    .img-holder
                                        img(src="img/content/advantage4.png")
                                    h4 short terms-big value
                                    p Заручитесь поддержкой от начала планирования до первого клиента
                                li
                                    .img-holder
                                        img(src="img/content/advantage5.png")
                                    h4 Долгосрочные отношения
                                    p Рассчитывайте на долгосрочное сотрудничество, так как наша цель - это ваше чувство уверенности и рост на немецком рынке.
                                li
                                    .img-holder
                                        img(src="img/content/advantage6.png")
                                    h4 Самая актуальная информация
                                    p Получите самую актуальную информацию о рынке, технологиях, конкурентах или продуктах. Мы идём в ногу со временем.



                    .mod_popular_article.cf
                        h3 Популярные статьи

                        .item-popular
                            .item-article
                                    .img-holder
                                        a(href="#")
                                            img(src="img/content/article1.jpg")
                                    h4
                                        a(href="#") Супер название статьи
                                    .data January 23 / 2016
                                    .text При создании генератора использовали небезызвестный универсальный код речей.
                                    a(href="#", class="readmore") Читать больше

                            .item-article
                                    .img-holder
                                        a(href="#")
                                            img(src="img/content/article2.jpg")
                                    h4
                                        a(href="#") Супер название статьи
                                    .data January 23 / 2016
                                    .text При создании генератора использовали небезызвестный универсальный код речей.
                                    a(href="#", class="readmore") Читать больше

                            .item-article
                                    .img-holder
                                        a(href="#")
                                            img(src="img/content/article3.jpg")
                                    h4
                                        a(href="#") Супер название статьи
                                    .data January 23 / 2016
                                    .text При создании генератора использовали небезызвестный универсальный код речей.
                                    a(href="#", class="readmore") Читать больше







            include ./footer.jade