doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            div.container
                .wrap
                    .services
                        h3 Наши услуги
                        ul
                            li
                                .img-holder
                                    img(src="/img/content/service1.png")
                                h4 Маркетинговый анализ
                                p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                a(href="#", class="readmore") Читать больше

                            li
                                .img-holder
                                    img(src="/img/content/service2.png")
                                h4 Бизнес - план
                                p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                a(href="#", class="readmore") Читать больше

                            li
                                .img-holder
                                    img(src="/img/content/service3.png")
                                h4 Web-Development & Online Marketing
                                p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                a(href="#", class="readmore") Читать больше

                            li
                                .img-holder
                                    img(src="/img/content/service4.png")
                                h4 Branding & Corporate design
                                p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                a(href="#", class="readmore") Читать больше


                .mod_advantage
                        h3 Наши преимущества
                        .advantages
                            ul
                                li
                                    .img-holder
                                        img(src="/img/content/advantage1.png")
                                    h4 Цены
                                    p Экономьте от 10% стоимости каждой услуги.

                                li
                                    .img-holder
                                        img(src="/img/content/advantage2.png")
                                    h4 Персональный подход
                                    p Мы работаем 24/7 ради наших клиентов. Все наши услуги подстраиваются под каждого клиента персонально.

                                li
                                    .img-holder
                                        img(src="/img/content/advantage3.png")
                                    h4 Понимание культурных особенностей
                                    p Мы живем в Германии долгое время, поэтому понимаем о ней намного больше, чем просто цифры.
                                li
                                    .img-holder
                                        img(src="/img/content/advantage4.png")
                                    h4 Поддержка от начала до конца
                                    p Заручитесь поддержкой от начала планирования до первого клиента

                                li
                                        .img-holder
                                            img(src="/img/content/advantage2.png")
                                        h4 Персональный подход
                                        p Мы работаем 24/7 ради наших клиентов. Все наши услуги подстраиваются под каждого клиента персонально.
                                li
                                        .img-holder
                                            img(src="/img/content/advantage3.png")
                                        h4 Понимание культурных особенностей
                                        p Мы живем в Германии долгое время, поэтому понимаем о ней намного больше, чем просто цифры.
                                li
                                        .img-holder
                                            img(src="/img/content/advantage4.png")
                                        h4 Поддержка от начала до конца
                                        p Заручитесь поддержкой от начала планирования до первого клиента






include ./footer.jade