doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.services_page
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo
                                a(href="/")
                                    img(src="/img/content/logo.png")
                            .menu
                                ul
                                    li
                                        a(href="/") Главная
                                    li
                                        a(href="/about.html") О компании
                                    li.active
                                        a(href="/services.html") Услуги
                                    li
                                        a(href="/blog.html") Блог
                                    li
                                        a(href="/contacts.html") Контакты






            div.container
                    .wrap
                        .services-items
                            .item-service.cf#marketing

                                .img-holder
                                    img(src="/img/content/service1.jpg")
                                .text
                                    h3 Маркетинговый анализ

                                    div
                                        p Познакомьтесь поближе с рынком Германии!
                                        p Вы хотите вывести Вашу компанию на международный уровень и не знаете с чего начать?
                                        p Ваш надёжный партнёр, Market Discovery,  даёт вам возможность узнать все тонкости работы на немецком рынке. Широкая информационная база и надёжные партнёры Market Discovery  предоставят Вам детальную информацию о потенциале Вашей продукции в Германии.
                                        p Вы не уверены, стоит ли Вам сделать первый шаг?
                                        p С нами это просто и надёжно, закажите краткий анализ прямо сейчас!
                                        span( class="service_link") Заказать бесплатную консультацию
                                        form#services_form
                                            .close
                                                i(class="fa fa-times fa-2x")

                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: www.marketdiscovery.com:", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="name")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить

                            .item-service.cf#business_plan

                                .img-holder
                                    img(src="/img/content/service2.jpg")
                                .text
                                    h3 Бизнес - план

                                    div
                                        p Путь к росту и стабильности!
                                        p.
                                            Наши знания и опыт помогут Вашему бизнесу освоить новые территории и привлечь инвесторов.
                                            Заручитесь нашей поддержкой в написании детального бизнес-плана для Вашей компании.
                                            Мы предусмотрим все риски и расскажем Вам о новых возможностях и перспективах для Вашего бизнеса, разработаем стратегию и найдём новых партнёров.

                                        span(class="service_link") Заказать бесплатную консультацию
                                        form#services_form
                                            .close
                                                i(class="fa fa-times fa-2x")
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: www.marketdiscovery.com:", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="name")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить
                            .item-service.cf#web

                                .img-holder
                                    img(src="/img/content/service3.jpg")
                                .text
                                    h3 Web-Development & Online Marketing

                                    div
                                        p Мы идём нога в ногу со временем!
                                        p.
                                            Больше 70% немецких потребителей совершают покупки в Интернете.
                                            Там может быть и Ваша продукция, с Market Discovery это очень просто.
                                            Мы советуем нашим клиентам и партнёрам начинать осваивать рынок с помощью продаж в интернете.
                                            Современный онлайн сайт или веб-магазин, продуманная онлайн стратегия и постоянная связь с целевой аудиторий через социальные сети
                                            и информационные каналы помогут Вам совершить первые продажи и завоевать своё место на рынке. Market Discovery знает своё дело!

                                        span(class="service_link") Заказать бесплатную консультацию
                                        form#services_form
                                            .close
                                                i(class="fa fa-times fa-2x")
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: www.marketdiscovery.com:", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="name")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить

                            .item-service.cf#design

                                .img-holder
                                    img(src="/img/content/service4.jpg")
                                .text
                                    h3 Branding & Corporate design

                                    div
                                        p Мы идём нога в ногу со временем!
                                        p.
                                            Больше 70% немецких потребителей совершают покупки в Интернете.
                                            Там может быть и Ваша продукция, с Market Discovery это очень просто.
                                            Мы советуем нашим клиентам и партнёрам начинать осваивать рынок с помощью продаж в интернете.
                                            Современный онлайн сайт или веб-магазин, продуманная онлайн стратегия и постоянная связь с целевой аудиторий через социальные сети
                                            и информационные каналы помогут Вам совершить первые продажи и завоевать своё место на рынке. Market Discovery знает своё дело!

                                        span(class="service_link") Заказать бесплатную консультацию
                                        form#services_form
                                            .close
                                                i(class="fa fa-times fa-2x")
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: www.marketdiscovery.com:", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="name")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить





            include ./footer.jade