doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.services_page
            header
                .top
                    .wrap

                        .phone
                            a(href="tel:+48791145132") +48 791 145 132
                            a(href="tel:+48791145132") +48 791 145 132

                        .email
                            a(href="mailto:marketdiscovery@gmail.com") Marketdiscovery@gmail.com
                        .skype
                            a(href="skype:Marketdiscovery?chat" title="Marketdiscovery") Marketdiscovery


                        .lang
                            .ru.active
                                a(href="#") Русский
                            .en
                                a(href="#") English

                .header
                    .menu_wrap
                        .wrap
                            .logo.img-holder
                                a(href="index.html")
                                    img(src="img/content/logo.png")
                            .menu
                                ul
                                    li
                                        a(href="index.html") Главная
                                    li
                                        a(href="about.html") О компании
                                    li.active
                                        a(href="services.html") Услуги
                                    li
                                        a(href="blog.html") Блог
                                    li
                                        a(href="#footer") Контакты






            div.container
                    .wrap
                        .services-items
                            .item-service.cf#business

                                .img-holder
                                    img(src="img/content/service1.jpg", title="Business Research")
                                .text
                                    h3(title="Business Research")
                                        .img-holder
                                            img(src="img/icons/marketing.png")
                                        span Business Research

                                    .text-holder
                                        .text-content
                                            p Познакомьтесь поближе с рынком Германии!
                                            p Вы хотите вывести Вашу компанию на международный уровень и не знаете с чего начать?
                                            p Ваш надёжный партнёр, Market Discovery,  даёт вам возможность узнать все тонкости работы на немецком рынке. Широкая информационная база и надёжные партнёры Market Discovery  предоставят Вам детальную информацию о потенциале Вашей продукции в Германии.
                                            p Вы не уверены, стоит ли Вам сделать первый шаг?
                                            p С нами это просто и надёжно, закажите краткий анализ прямо сейчас!
                                        .readmore
                                            .show Читать дальше
                                            .hide Скрыть
                                        .service_link Заказать бесплатную консультацию
                                        form.services_form
                                            .close


                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: marketdiscovery.com", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="empty")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить


                            .item-service.cf#design

                                .img-holder
                                    img(src="img/content/service3.jpg", title="Design & Web-Development")
                                .text
                                    h3(title="Design & Web-Development")
                                        .img-holder
                                            img(src="img/icons/web.png")
                                        span Design & Web-Development

                                    .text-holder
                                        .text-content
                                            p Мы идём нога в ногу со временем!
                                            p.
                                                Больше 70% немецких потребителей совершают покупки в Интернете.
                                                Там может быть и Ваша продукция, с Market Discovery это очень просто.
                                                Мы советуем нашим клиентам и партнёрам начинать осваивать рынок с помощью продаж в интернете.
                                                Современный онлайн сайт или веб-магазин, продуманная онлайн стратегия и постоянная связь с целевой аудиторий через социальные сети
                                                и информационные каналы помогут Вам совершить первые продажи и завоевать своё место на рынке. Market Discovery знает своё дело!

                                        .readmore
                                            .show Читать дальше
                                            .hide Скрыть
                                        .service_link Заказать бесплатную консультацию
                                        form.services_form
                                            .close

                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: marketdiscovery.com", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="empty")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить

                            .item-service.cf#marketing

                                .img-holder
                                    img(src="img/content/service4.jpg", title="Digital Marketing")
                                .text
                                    h3(title="Digital Marketing")
                                        .img-holder
                                            img(src="img/icons/design.png", title="Digital Marketing")
                                        span Digital Marketing

                                    .text-holder
                                        .text-content
                                            p Мы идём нога в ногу со временем!
                                            p.
                                                Больше 70% немецких потребителей совершают покупки в Интернете.
                                                Там может быть и Ваша продукция, с Market Discovery это очень просто.
                                                Мы советуем нашим клиентам и партнёрам начинать осваивать рынок с помощью продаж в интернете.
                                                Современный онлайн сайт или веб-магазин, продуманная онлайн стратегия и постоянная связь с целевой аудиторий через социальные сети
                                                и информационные каналы помогут Вам совершить первые продажи и завоевать своё место на рынке. Market Discovery знает своё дело!

                                        .readmore
                                            .show Читать дальше
                                            .hide Скрыть
                                        .service_link Заказать бесплатную консультацию
                                        form.services_form
                                            .close

                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                                div
                                                    input(type="email", placeholder="E-mail:", name="email", minlength="2", data-validate="name")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.cf
                                                div
                                                    input(type="text", placeholder="Skype:", name="skype")

                                                div
                                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
                                                    span.error Поле обязательное для заполнения
                                            .row-form.url.cf
                                                div
                                                    input(type="text", placeholder="Название сайта: marketdiscovery.com", name="url", id="url")


                                            .row-form.cf
                                                div
                                                    textarea( placeholder="Сообщение:", name="message", data-validate="empty")
                                                    span.error Поле обязательное для заполнения

                                            button(type="submit")  Отправить





            include ./footer.jade